@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root[data-theme="light"] {
  --background-color: #F8FAFF;
  --second-background-color: #F5F5F5;
  --third-background-color: #E0E0E0;
  --text-color: #1E293B;
  --success-color: #2E7D32;
  --error-color: #FF3B30;
  --main-accent-color: #2563EB;
  --main-accent-background-color: #2563EB;
  --second-accent-color: #06B6D4;
  --second-accent-background-color: #06B6D4;
  --secondary-text-color: #5A5A5A;
  --icons-color: #3c4043;
  --hr-color: rgba(0, 0, 0, 0.4);
  --table-separator: rgba(0, 0, 0, 0.2);
  --select-hover-color: #f2f2f2;
  --warning-background-color: #fff3cd;
  --warning-text-color: #664d03;
  --warning-border-color: #ffecb5;
  --info-background-color: #cfe2ff;
  --info-text-color: #084298;
  --info-border-color: #b6d4fe;
  --success-background-color: #d1e7dd;
  --success-border-color: #badbcc;
  --danger-background-color: #f8d7da;
  --danger-text-color: #58151c;
  --danger-border-color: #f1aeb5;
  --btn-danger-bg: #332701;

}


:root[data-theme="dark"] {
  --background-color: #212121;
  --second-background-color: #2e2e2e;
  --third-background-color: #2e2e2e;
  --text-color: #EEEEEE;
  --success-color: #00E676;
  --error-color: #FF453A;
  --error-hover-color: #fc493f;
  --main-accent-color: #0A84FF;
  --main-accent-background-color: rgba(10, 132, 255, 0.7);
  --second-accent-color: #22D3EE;
  --second-accent-background-color: rgba(34, 211, 238, 0.7);
  --secondary-text-color: #BDBDBD;
  --icons-color: #E2E8F0;
  --hr-color: rgba(255, 255, 255, 0.6);
  --table-separator: #424242;
  --select-hover-color: #424242;
  --warning-background-color: rgba(255, 204, 0, 0.1);
  --warning-text-color: #e5ac00;
  --warning-border-color: #6a5001;
  --info-background-color: rgba(10, 132, 255, 0.1);
  --info-text-color: #a8c6f8;
  --info-border-color: #1a4b8c;
  --success-background-color: #1a2e25;
  --success-text-color: #75b798;
  --success-border-color: #2d4b3d;
  --danger-background-color: rgba(255, 69, 58, 0.07);
  --danger-text-color: #FF453A;
  --danger-border-color: rgba(255, 69, 58, 0.5);
}

$font-primary: 'Manrope', sans-serif;


* {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s !important;
}

body {
  background: var(--background-color) !important;
  min-height: 100vh;


}

#root > div.container {
  flex: 1;
}

#root {
  min-height: 100vh !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;

}


.link-style {
  text-decoration: underline !important;
  color: var(--main-accent-color) !important;
}

.alert-warning {
  color: var(--warning-text-color) !important;
  border-color: var(--warning-border-color) !important;
  background: var(--warning-background-color) !important;

  i {
    color: var(--warning-text-color) !important;
  }
}

.alert-danger {
  color: var(--danger-text-color) !important;
  border-color: var(--danger-border-color) !important;
  background: var(--danger-background-color) !important;

  i {
    color: var(--danger-text-color) !important;
  }
}

.alert-info {
  color: var(--info-text-color) !important;
  border-color: var(--info-border-color) !important;
  background: var(--info-background-color) !important;

  i {
    color: var(--info-text-color) !important;
  }
}

.bg-success {
  background: var(--success-background-color) !important;
}

.alert-success {
  color: var(--success-color) !important;
  border-color: var(--success-border-color) !important;
  background: var(--success-background-color) !important;

  i {
    color: var(--success-text-color) !important;
  }
}

.navbar-toggler-icon {
  color: var(--text-color) !important;
}

footer {
  margin-top: auto;
}

.main-accent-color {
  color: var(--main-accent-color) !important;
}

.second-accent-color {
  color: var(--second-accent-color) !important;
}

.secondary-text-color {
  color: var(--secondary-text-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.success-color {
  color: var(--success-color) !important;
}

.danger-color {
  color: var(--error-color) !important;
}

.hidden {
  display: none !important;
}

.bg-color {
  background: var(--background-color)
}


h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--main-accent-color);
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}

h3 {
  color: var(--second-accent-color);
}

h1, h2, h3, h4, h5, p, a {
  color: var(--text-color) !important;
}

h5 {
  font-weight: 800 !important;
}

i {
  color: var(--icons-color);
}

hr {
  border: 0 !important;
  height: 1px;
  background: var(--hr-color); /* для светлой темы */
}

a {
  text-decoration: none !important;
}

p {
  font-weight: 400;
}

.nav-link i:hover {
  color: #9e9e9e;
  transition: .2s;
}

.navbar-brand {
  margin: 0;
  font-weight: 800;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  color: var(--main-accent-color) !important;
}

.username-link {
  cursor: default;

  .bi-person-fill {
    cursor: default;
  }

  .bi-box-arrow-right {
    cursor: pointer;
  }

  p {
    transition: .2s;
  }

  .bi-person-fill:hover {
    color: var(--text-color);

  }

  p:hover {
    color: var(--main-accent-color) !important;
    cursor: pointer;
  }
}

nav {
  border-bottom: 1px solid var(--text-color);
  background: var(--background-color);
}

.howto__block, .start__block {
  margin-top: 100px;
  border: 1px solid var(--text-color);
  border-radius: 30px;
  padding: 40px 80px;

}

.howto__block .row div {
  margin-top: 15px;
}

.howto__block .row i {
  font-size: 75px !important;
}

.preferences__block .row i {
  font-size: 120px;
}

.preferences__block {
  margin-top: 100px;
}

.preferences__block .row {
  margin: 3rem;
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--text-color);
}

.orders__list_choose .form-select {
  max-width: 140px;
  margin: 0 20px 0 0;
}

.choosen {
  border-bottom: 2px solid var(--second-accent-color);
  color: var(--second-accent-color) !important;
}


.custom-select {
  margin-top: 3rem;
  position: relative;
  display: inline-block;
  min-width: 60px;
  width: 100%;
  margin-right: 12px;
  margin-top: 0 !important;
}

.select-sm {
  max-width: 100px;
}

.select-lg {
  max-width: 150px;
}

.select-full {
  max-width: 100%;
}

.select-button {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 60px;
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  font-weight: 800;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--text-color);
  transition: transform ease-in-out 0.3s;
  margin-left: 20px;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--hr-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
  list-style: none;
  padding: 3px;
  opacity: 0;
  transition: opacity 0.6s ease;
  display: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.select-dropdown .option {
  padding: 7px;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  font-weight: 800;
}

.select-dropdown li:hover,
.select-dropdown li:focus,
.select-dropdown .focused {
  background-color: var(--select-hover-color);
  border-radius: 4px;
}

.select-dropdown.show {
  display: block;
  opacity: 1;
}


.price__info {
  margin: 20px 0 0 0 !important;
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  align-items: stretch;

  p {
    font-size: 14px;
    color: var(--secondary-text-color) !important;
    font-weight: 400;
    margin: 0 !important;
  }
}


.price__info span, .price__info_details a {
  font-size: 14px;
  color: var(--second-accent-color);
  font-weight: 800;
}

.price__info_details a {
  color: var(--text-color) !important;
}


.price__info_details {
  margin-left: auto;

  i {
    font-size: 20px;
    cursor: pointer;
  }
}

.price__info_metrics {
  display: flex;
  gap: 15px;

  > * {
    align-self: center;
    gap: 5px;
  }
}


.pricePanelButton {
  margin-left: auto;

  button {
    display: block;
  }

}

.order__list {
  width: 100%;
  margin-top: 30px;

  * {
    color: var(--secondary-text-color);
    font-weight: 400;
  }

  tr {
    border-bottom: 1px solid var(--table-separator);

  }

  .merchant_info span, .order__price {
    font-weight: 800;
    color: var(--text-color) !important;
  }

  thead th {
    color: var(--secondary-text-color);
    padding-bottom: 8px;
  }

  tbody tr {
    height: max-content;
  }

  .merchant_info {

    div {
      display: flex;
      gap: 5px;
    }

    p {
      margin: 0;
      color: var(--secondary-text-color) !important;
    }
  }

  .order__volume {
    padding: 30px 0;

    div {
      display: flex;
    }

    p {
      margin: 0;
      color: var(--text-color) !important;
    }
  }

  .btn {
    color: white !important;
  }


}

.online_icon {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--success-color);
}

.payment__method_icon {
  border-radius: 50%;
  width: 8px;
  height: 8px;

}

.payment__method {

  p {
    color: var(--text-color) !important;
  }
}

.pagination__block {

  button {
    background: var(--background-color);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    width: 30px;
    height: 30px;
  }

  .active {
    background-color: var(--main-accent-color) !important;
    color: white;
  }

  button:hover {
    background-color: var(--select-hover-color);
  }
}

.history__type span, .history__agent span {
  font-weight: 800;

}

.auth_form {
  width: 50vh;
  margin: 0 auto;
}

.auth_form .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 350px;
  margin: auto auto;
  padding: 30px;
  border: 1px solid var(--hr-color);
  border-radius: 10px;

  p {
    color: var(--secondary-text-color) !important;
  }

  h4 {
    font-weight: 800;
  }


}

input, select, textarea {
  background: var(--background-color) !important;
  color: var(--text-color) !important;
}

input[type="checkbox"]:checked {
  background: var(--main-accent-color) !important;
  accent-color: #C56FFF;
}


option:hover {
  background: var(--select-hover-color) !important;
}

input:focus, textarea:focus {
  background: var(--background-color) !important;
  color: var(--text-color) !important;

}

input::placeholder, textarea::placeholder {
  color: var(--secondary-text-color) !important;
}

.modal-content {
  background: var(--background-color) !important;
  border: 1px solid var(--table-separator) !important;
  color: var(--text-color) !important;

  .modal-header {
    border-bottom: 1px solid var(--table-separator) !important;
  }

  .modal-footer {
    border-top: 1px solid var(--table-separator) !important;
  }


}

.card {
  background: var(--background-color) !important;
  border: 1px solid var(--table-separator) !important;
  color: var(--text-color) !important;

  .card-header {
    border-color: var(--table-separator);
  }

  .card-footer {
    background: var(--background-color) !important;
    border-color: var(--table-separator);

    input {
      background: var(--background-color) !important;
      color: var(--text-color) !important;
    }

    input:focus {
      background: var(--background-color);
      color: var(--text-color);

    }

    input::placeholder {
      color: var(--secondary-text-color);
    }
  }

  .border-top {
    border-color: var(--table-separator) !important;
  }

  .completed-operation {
    width: 100px;
    height: 100px;
  }
}

.popover-arrow {
  background: var(--background-color) !important;
}

.notification-popover {
  width: 350px !important;
  border: 1px solid var(--table-separator) !important;
  background: var(--background-color) !important;
}

.notification-item {
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.85rem;
  cursor: pointer;
}

.order-container {
  max-width: 1000px !important;
}

.notification-item.unread {
  border-left: 2px solid #0d6efd;

}

.notification-list {
  max-height: 300px !important;
}

.notification-item:hover {
  background: var(--select-hover-color);
}

.popover-header {
  font-size: 0.9rem;
  padding: 6px 10px;
  background: var(--background-color) !important;
  border-color: var(--table-separator) !important;
}

.notification-list::-webkit-scrollbar {
  width: 6px;
}

.notification-list::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
}

.notification, .toast-header {
  background: var(--background-color) !important;
}

.toast-header {
  border-bottom: 1px solid var(--table-separator) !important;
}

.notification {
  border: 1px solid var(--table-separator) !important;
}

.btn-close {
  color: var(--text-color) !important;
}

.message-item {
  max-width: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeInMessage {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-container {
  scrollbar-width: thin;
  scrollbar-color: #adb5bd #f8f9fa;
}

.chat-container::-webkit-scrollbar {
  width: 6px;
}

.chat-container::-webkit-scrollbar-track {
  background: #f8f9fa;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 20px;
}

.sender-message {
  border-bottom-right-radius: 0 !important;
}

.receiver-message {
  border-bottom-left-radius: 0 !important;
  background: var(--second-background-color);
}

.message-item {
  transition: all 0.2s ease;
}

.message-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15) !important;

}

.balance-card {
  background: var(--main-accent-background-color);
  background: linear-gradient(90deg, var(--main-accent-background-color) 0%, var(--second-accent-background-color) 100%);

  border-radius: 10px;
}


.currency-card {
  transition: all .3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px;
  overflow: hidden;
  background: var(--second-background-color);

  .currency-header {
    .currency-icon {
      width: 37px;
      height: 37px;
    }
  }
}

.currency-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(-3px);
}

.btc-bg {
  background-color: #f7931a;

}

.eth-bg {
  background-color: #627eea;
  color: #627eea;
}

.usdt-bg {
  background-color: #26a17b;
  color: #26a17b;
}

.usdc-bg {
  background-color: #2775ca;
  color: #2775ca;
}

.bnb-bg {
  background-color: #f0b90b;
  color: #f0b90b;
}

.profile-header {
  .border {
    border-color: var(--table-separator) !important;
    border-radius: 10px;
    background-color: var(--second-background-color);

    h4 {
      padding: 0;
      margin: 0;
    }

  }
}

.select-sm {
  max-width: 120px !important;
}

.payment__method-item {
  background-color: var(--second-background-color);
  border-top: 1px solid var(--table-separator) !important;
}

.file {

  background: rgb(0, 0, 0, 0.15);

  .file-icon {
    background: rgba(186, 67, 67, 0.5);
    cursor: pointer;
  }

  .ms-2 {
    cursor: pointer;
  }

}

.nav-tabs {
  border-color: var(--table-separator) !important;

  .nav-link.active {
    color: var(--text-color) !important;
    background-color: var(--second-background-color) !important;
    border-color: var(--table-separator) !important;
  }

  .nav-link:hover {
    border-color: var(--table-separator) !important;
  }
}

