@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root[data-theme="light"] {
    --background-color: #F8FAFF;
    --text-color: #1E293B;
    --success-color: #10B981;
    --error-color: #EF4444;
    --main-accent-color: #2563EB;
    --second-accent-color: #06B6D4;
    --icons-color: #3c4043;
    --hr-color: rgba(0, 0, 0, 0.5);
}
  
:root[data-theme="dark"] {
    --background-color: #0A0A0A;
    --text-color: #E2E8F0;
    --success-color: #34D399;
    --error-color: #F87171;
    --main-accent-color: #3B82F6;
    --second-accent-color: #22D3EE;
    --icons-color: #E2E8F0;
    --hr-color: rgba(255,255,255,0.8);
}

$font-primary: 'Manrope', sans-serif;


* {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
body {
    background: var(--background-color)!important;
}

.main-accent-color {
    color: var(--main-accent-color)!important;
}

.second-accent-color {
    color: var(--second-accent-color)!important;
}

h1 {
    font-size: 2.5rem; 
    font-weight: 800;
    color: var(--main-accent-color);
}

h2 {
    font-size: 1.8rem; 
    font-weight: 700;
    color: var(--text-color);
}

h3 {
    color: var(--second-accent-color);
}

h1, h2, h3, h4, h5, p, a {
    color: var(--text-color)!important;
}

h5 {
    font-weight: 800!important;
}

i {
    color: var(--icons-color);
}

hr {
    border: 0!important;
    height: 1px;
    background: var(--hr-color); /* для светлой темы */
  }

.nav-link i:hover {
    color: #9e9e9e;
    transition: .2s;
}

.navbar-brand {
    margin: 0;
    font-weight: 800;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    color: var(--main-accent-color)!important;
}

nav {
    border-bottom: 1px solid var(--text-color);
    background: var(--background-color);
}

.howto__block, .start__block {
    margin-top: 100px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    padding: 40px 80px;

}

.howto__block .row div {
    margin-top: 15px;
}

.howto__block .row i {
    font-size: 75px!important;
}

.preferences__block .row i {
    font-size: 120px;
}

.preferences__block {
    margin-top: 100px;
}

.preferences__block .row {
    margin: 3rem;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--text-color);
}

.orders__list_choose .form-select{
    max-width: 140px;
    margin: 0 20px 0 0;
}

.choosen {
    border-bottom: 2px solid var(--second-accent-color);
    color: var(--second-accent-color)!important;
}
